body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column; /* Dikey düzen */
    height: 100vh;
}

.top-panel {
    background-color: navy;
     /*padding: 0px;*/
}

.left-panel {
    flex: 0 0 300px; /* Sol panelin sabit genişliği */
    background-image: url('https://raw.githubusercontent.com/onract/onract.github.io/main/bg.jpg'); /* Sol panelin arka plan resmi */
    background-size: cover;
    overflow-y: auto; /* Dikey kaydırma */
}

.profile {
    text-align: center;
    padding: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.right-panel {
    flex: 1; /* Sağ panelin genişliği */
    padding: 0px;
    overflow-y: auto; /* Dikey kaydırma */
    background-color: #333; /* Gri düz renk arka plan */
}

.work-list {
    list-style: none; /* Liste maddesi işaretlerini kaldır */
    padding: 0; /* Liste içi boşlukları kaldır */
}

.work-item {
    display: flex;
    margin-bottom: 20px;
}

.work-item img {
    width: 80px; /* Çalışma resimlerinin boyutu küçültüldü */
    height: 80px;
    border-radius: 5px;
    margin-right: 20px;
}

.work-description {
    flex: 1; /* Açıklama alanının sağa yayılmasını sağla */
}

.work-description h3 {
    margin-top: 0; /* Başlık için üst boşluk kaldırıldı */
}
