body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #111;
    /* 
    background-image: url('https://raw.githubusercontent.com/onract/onract.github.io/main/bg.jpg');
    */
    background-size: cover;
    overflow-y: auto;
}

.profile {
    text-align: center;
    padding: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.top-panel {
    background-color: #111;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 80px;
    z-index: 999;
    display: flex;
    align-items: center; /* To vertically center images */
}

.top-panel img {
    width: 100px;
    height: 40px;
    margin-right: 20px; /* To increase the space between images */

}

.right-panel {
    position: fixed;
    top: 80px; /* Start as low as the height of the top panel */
    bottom: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    overflow-y: auto;
    background-color: #333;
    margin-top: 0; /* Remove space between top panel */
}

.right-panel h2 {
    text-align: center; /* Center the text */
    font-size: 2.5em; /* Increase font size */
    color: #fff; /* Text color */
    text-shadow: 1px 1px 0 #000, /* Shadow for 3D effect */
                 2px 2px 0 #666;
    margin-bottom: 20px; /* Space below the heading */
}
.work-list {
    list-style: none;
    padding: 20px;
}

.work-item {
    display: flex;
    margin-bottom: 20px;
}

.work-item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 20px;
}

.work-description {
    flex: 1;
}

.work-description h3 {
    margin-top: 0;
}
